.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25em;
    height: 36em;
    border-radius: 0.5em;
    background-color: #081b29;
}
.card img {
    width: 90%;
    height: 18em;
    object-fit: cover;
    border-radius: 0.5em;
}
.card h4 {
    color: #ededed;
    font-size: 1.2em;
    margin-bottom: 0em;
}
.card p {
    color: #ededed;
    margin: 0.2em;
    font-size: 1.2em;
}
